html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  color: #ffffff;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #282E47;
}

a:hover {
  text-decoration: none;
  color: #282E47;
}

hr{
    background: #B58F35;
    width: 100%;
    height: 1px;
}

h1, h2, h3, 
h4, h5{
  line-height: 1.45;
  color: #000;
  font-weight: 300 !important;
  font-style: normal;
  font-family: 'Quicksand', sans-serif;
}

p{
  color: #FFF;
}
.fas{
    color: #B58F35;
    padding: 5px;
    font-size: 5px;
}
#color{
  color: #fff;
  font-family: 'roboto light';
}

.text-primary {
  color: #282E47 !important;
}
.site-custom-padding{
  padding-bottom: 100px !important;
}
.enabled{
    display: none;
}
/*==================MENU=========================*/
/*===============================================*/
.nav-contact{
    width: 100%; 
    height: 50px; 
    background: #B58F35;
}
.nav-contact .contact-header,.nav-contact .contact-header .fas{
   color: #FFF;
   font-size:16px;
}
.site-navbar-light {
  padding: 0;
  background-color: #282E47;
  border-bottom: 7px solid #1A2347;
  width: 100%;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  z-index: 99999;
}

@media screen and (max-width: 991px) {
  .site-navbar-light {
    top: 0;
    position: relative;
    padding: 10px;
  }
    .site-navbar-light .navbar-brand{
        max-width: 120px;
    }
    #section-home{
/*        height: 500px;*/
    }
    .carousel{
        background: red;
        max-height: 600px;
    }
    .carousel-indicators li{
        margin-top: -100px !important;
    }
}

@media screen and (max-width: 710px) {
  .site-navbar-light {
    top: 0;
    position: relative;
  }
    #section-home{
/*        height: 500px;*/
    }
    .carousel{
        background: red;
        max-height: 400px;
/*       
        height: 100% !important;
        width: 100% !important;
*/
    }
    .carousel-indicators li{
        display: none;
    }
}
@media screen and (max-width: 610px) {
  .site-navbar-light {
    top: 0;
    position: relative;
  }
    #section-home{
/*        height: 500px;*/
    }
    .carousel{
        background: red;
        max-height: 300px;
/*       
        height: 100% !important;
        width: 100% !important;
*/
    }
    .carousel .row{
        margin-top: -90% !important;
    }
}
.site-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 2px;
  color: white;

}

.site-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 2px;
  padding-right: 2px;
  color: #00b5db;

}

@media screen and (max-width: 960px) {
  .site-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.site-navbar-light .navbar-nav > .nav-item.site-cta a {
  color: #fff;
}

.site-navbar-light .navbar-nav > .nav-item.site-seperator {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 960px) {
  .site-navbar-light .navbar-nav > .nav-item.site-seperator {
    padding-left: 0;
    margin-left: 0;
  }
}

.site-navbar-light .navbar-nav > .nav-item.site-seperator:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 2px;
  background: rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 960px) {
  .site-navbar-light .navbar-nav > .nav-item.site-seperator:before {
    display: none;
  }
}

.site-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

/*===============================================*/
/*===============================================*/

@media screen and (max-width: 768px) {
  .logo-header{
    position: relative;
    padding: 2px 2px !important;  
    font-size: 1.2em !important;
  }

  
}
@media screen and (max-width: 768px) {
  .content-logo{
    top: -5px !important;
    width: 80px !important;
    height: 80px !important;
    margin-top: 10px !important;
    margin-left: 15px !important;
  } 
}


.site-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
}

@media screen and (max-width: 768px) {
  .site-navbar-light.scrolled .navbar-nav {
    background: none;
    border-radius: 0px;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

@media screen and (max-width: 576px) {
  .site-navbar-light.scrolled .navbar-nav {
    background: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.site-navbar-light.scrolled .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.site-navbar-light.scrolled .nav-link {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  color: #000 !important;
}

.site-navbar-light.scrolled .nav-link:hover {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  color: #282E47 !important;
}


.site-navbar-light.scrolled .nav-link.active {
  color: #282E47 !important;
}

.site-navbar-light.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.site-navbar-light.scrolled.sleep {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.site-navbar-light.scrolled .navbar-brand {
  text-transform: uppercase;
    display: none;
}
.site-navbar-light.scrolled .enabled{
    display: block;
}
/*==============HEADER======================*/
/*==========================================*/
#section-home .fas{
    width: 100px;
    height: 150px;
    color: #FFF;
    position: relative;
    top: 80px;
    left: 0;
    bottom: 0;
    bottom: inherit!important;
}
#section-home .carousel-indicators li{
    width: 15px;
    height: 15px;
    margin-top: -130px;
}
#section-home .carousel-control-prev{
    z-index: 8;
}
#section-home .carousel-control-next{
    z-index: 8;
}
#section-home  .container-title{
    z-index: 8;
}
#section-home  .container-title .btn{
    z-index: 7;
}

.carousel-inner{
    position: relative;
}

.overlayed-header{
    width: 100%;
    height: 100%;
}
.overlayed-header::after{
   content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background:rgba(40,46,71,.6);
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.overlayed-header .btn{
    position: relative;
}
.content-logo{
    position: relative;
    top: -10px;
    display: table;
    width: 130px;
    height: 120px;
    padding: 5px 5px;
    margin-top: 20px;
    border-radius: 50%;
    background: #282E47;
}
.content-logo .logo-header{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 20px 10px;
    margin: 10;
    border-radius: 50%;
    border: 3px solid #B58F35;
    color: #FFF;
    font-size: 1.5em;
    font-family: 'Kaushan Script', cursive;
}
.site-cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.site-cover .header-img{
  display: block;
  background: url('../images/Portada.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
}
.site-cover .scroll-header{
    z-index: 15;
    width: 15px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #282E47;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    bottom: 10px;
    margin-left: -7px;
    cursor: pointer;
    text-decoration: none !important;
}
.site-cover .scroll-header .wheel{
    width: 1px;
    height: 5px;
    background: #282E47;
    display: inline-block;
    z-index: 7;
}
.site-cover .montain::after{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../svg/montana.svg) bottom no-repeat;
    background-size: cover;
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 6;
}
.site-cover .title{
    font-size: 41px;
    color: #FFF;
}
.site-cover .title span{
    font-weight: 700;
    color: #B58F35;
}

.site-cover .sub-title{
    font-size: 17px;
    
}
.site-cover hr{
    width: 100%;
    height: 1px;
}
.site-cover h2{
    color: #FFF;
}


.site-cover p{
    line-height: 1.72;
    margin-bottom: 24px;
    letter-spacing: 1.5px;
}


@media screen and (max-width: 768px) {
  .site-cover .title {
    font-size: 30px;
    line-height: 1.3;
  }
  .site-cover h2 {
    font-size: 20px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 768px) {
  .site-cover .btn {
    margin: auto;
    width: 100% ;
  }
  .site-cover .btn-custom {
        
      margin: auto;
      width: 25% ;
      padding: 0 !important;
  }
    .content-custom{
        margin-top: -75% !important;
    }
}


.site-cover.overlay {
  position: relative;
}

.site-cover.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.site-cover .site-vh-100 {
  min-height: 450px !important;
}
/*===============================================*/
/*===============================================*/

/*==============COCINA CON NOSOTROS===============*/
/*===============================================*/
.cocina-section{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(#00b5db, #24272a);
  background-image: -o-linear-gradient(#00b5db, #24272a);
  background-image: linear-gradient(#00b5db, #24272a);
  border-top-left-radius: 50% 20%;
  overflow: hidden;
}
/*===============================================*/
/*===============================================*/

/*==============COCINA CON NOSOTROS===============*/
/*===============================================*/
.site-distribucion{
  background: #24272a;
  position: relative;
  padding: 120px 0 !important;
  margin: 0;
  overflow: hidden;
}
.container-section{
  width: 100%;
  position: absolute;
  bottom: 0;
/*  background: rgba(255,255,255,.3);*/
}
/*===============================================*/
/*===============================================*/

/*===============CARTA===========================*/
/*===============================================*/
.carta-site{
    background: #282E47;
    padding: 15px;

}
.site-cover .title-dark .site-primary-title{
    color: #B58F35 !important;
}
.carta{
    border: 1px solid #B58F35;
    padding: 20px;
}
.carta p{
    line-height: normal;
    margin: 10px 0;
}
.carta .titulo-carta{
    color: #B58F35;
    font-weight: 900;
    margin-bottom: 20px;
}
.carta hr{
    margin-top: 20%;
    height: 0.5px;
    background: #B58F35;
}
.carta .content-img-logo-carta{
    margin: auto;
    margin-top: -20%;
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #B58F35;
}
.carta .content-img-logo-carta .img-logo-carta{
    width: 100%;
    height: 100%;
}
/*===============================================*/
/*===============================================*/
/*===============DELIVERY INFO===================*/
/*===============================================*/
.section-delivery {
    position: relative;
}
.section-delivery .fa-utensils{
    position: absolute;
    color: #B58F35 !important;
    z-index: 10;
}
.section-delivery .fa-phone-volume{
    position: relative;
    padding: 20px;
    position:inherit !important;
    color: #282E47;
    font-size: 55px !important;
}
/*===============================================*/
/*===============================================*/
/*===============CONTACT=========================*/
/*===============================================*/
.custom-contact{
    background: #282E47;
    position: relative;
    padding: 0;
}
.overlayed {
    width: 100%;
    height: 100%;
    background: rgba(48,48,48,.8);
}
/*===============================================*/
/*===============================================*/

/*===================MARCAS=======================*/
/*===============================================*/

.marcas {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.section-custom{
    overflow: visible;
}
.site-cover .montain-up::after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../svg/montana-up.svg) bottom no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: -12%;
    z-index: 5;
} 

.site-cover .montain-top::after{
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: url(../svg/montana-top.svg) bottom no-repeat;
    background-size: cover;
    bottom: -13px;
    left: 0;
    right: 0;
    z-index: 6;
} 

.site-cover .far, .site-cover .fas{
    z-index: 7;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    bottom: 10px;
    margin-left: -18px;
    font-size: 30px;
}
/*===============================================*/
/*===============================================*/
.site-slant {
  position: relative;
  overflow: hidden;
}

.site-slant:after {
  width: 120%;
  height: 200px;
  left: -10%;
  background: #f2f2f2;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  content: "";
  position: absolute;
  bottom: -100px;
}

@media screen and (max-width: 960px) {
  .site-slant:after {
    bottom: -150px;
  }
}

@media screen and (max-width: 768px) {
  .site-slant:after {
    bottom: -170px;
  }
}

.site-slant.site-slant-white:after {
  background: #fff;
}

.site-slant.site-slant-dark:after {
  background: #263135;
}

.site-uppercase {
  font-size: 30px;
}

.menu-item {
  margin-bottom: 30px;
}

.menu-item .menu-price {
  font-family: "Roboto Condensed", serif;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .display-4 {
    font-size: 37px;
  }
}

.text-black {
  color: #000 !important;
}

.bg-light {
  background: #darken fafafa, 4% !important;
}



.site-custom-gutters {
  margin-left: -10px;
  margin-right: -10px;
}

.site-custom-gutters [class*=col-] {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.site-custom-gutters [class*=col-] .site-thumbnail {
  display: block;
  margin-bottom: 5px;
}

.btn {
  border-radius: 4px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.btn.btn-lg {
  font-size: 16px;
  padding: 13px 40px;
}




.btn.btn-sm {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 10px;
}

.btn.btn-primary {
  border-radius: 10px;
  border: none;
}

.btn.btn-secondary {
  border: 2px solid #00b5db;
  background: #00b5db;
  
  border-radius: 7px;
  color: #000000;
}



.btn:before {
  display: none;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primaryy {
  background: #B58F35 ;
  border-radius: 30px;
  color: #ffffff;
}



.btn.btn-outline-white {
  margin-top: 20px;
  border-radius: 30px;
  border: 1px solid #FFF;
  color: #fff;
}

.form-control {
  border: none;
  height: 55px !important;
  background: #e6e6e6 !important;
  color: #000 !important;
  font-size: 18px;
  border-radius: 0px;
}

textarea.form-control {
  height: inherit !important;
}

.site-vh-100 {
  height: 100vh;
}

@media screen and (max-width: 960px) {
  .site-vh-100 {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.site-vh-75 {
  height: 75vh;
}

@media screen and (max-width: 960px) {
  .site-vh-75 {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.site-tab-nav {
  padding: 0;
  margin: 0;
  display: inline-block !important;
}

@media screen and (max-width: 576px) {
  .site-tab-nav {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
}

.site-tab-nav li {
  padding: 0;
  margin: 0 5px;
  display: inline-block !important;
}

@media screen and (max-width: 576px) {
  .site-tab-nav li {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
}

.site-tab-nav li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 0 !important;
}

.site-tab-nav li a.active {
  background: none !important;
  color: black !important;
  border: 2px solid #000;
}

.site-animate {
  opacity: 0;
  visibility: hidden;
}

.bg-primary {
  background: #00b5db !important;
}

.site-cover .site-sub-title {
  color: #9a9a9a;
  font-weight: 400; 
  font-size: 15px;
}

.site-cover .site-primary-title {
    color: #383848;
    line-height: normal;
    margin: 0 0 16px 0;
    font-weight: 700 !important;
    font-size: 40px;
}

.content-image img{
  border-radius: 30px;
}
.content-text{
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #7a7676;
}
.site-bg-dark {
  background: #222;
}

.site-footer {
  font-size: 16px;
 
}

.site-footer .icon-twitter, .site-footer .icon-linkedin,
.site-footer .icon-instagram{
    color: #B58F35;
    font-size: 18px;
}

.site-footer .site-footer-logo {
  text-transform: uppercase;
  letter-spacing: .1em;
}
.site-footer-widget {
    display: inline-block;
}
.site-footer .site-footer-widget h2 {
  font-weight: normal;
}

.site-footer p {
  color: rgba(255, 255, 255, 0.3);
}

.site-footer a {
  color: rgba(255, 255, 255, 0.3);
}

.site-footer a:hover {
  color: #00b5db;
}

.site-footer .site-heading {
  font-size: 24px;
}

.site-footer .site-heading-2 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.site-footer p{
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 0;
}
.site-pricing-popular {
  position: relative;
}

.site-pricing-popular .popular-text {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: -16px;
  right: 0;
  background: #00b5db;
  color: #fff;
  padding: 2px 10px;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: .1em;
}

.site-pricing h2 {
  font-size: 17px;
  text-transform: uppercase;
}

.site-pricing .site-price-per {
  font-size: 70px;
}

.site-pricing .site-price-per sup {
  font-size: 20px;
  top: -1.5em;
}

.site-pricing .site-price-per strong {
  color: #000;
}

.site-pricing .site-price-per span {
  font-size: 20px;
}
.site-footer-social{
    margin-top: 15px;
    margin-bottom: 0;
}
.site-pricing ul li {
  margin-bottom: 10px;
}

.site-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block;
}

.site-footer-social li a {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  background: #282E47;
  border-radius: 50%;
  position: relative;
}

.site-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-footer-social li a:hover {
  color: #fff;
}



.footer-small-nav > li {
  display: inline-block;
}

.footer-small-nav > li a {
  margin: 0 10px 10px 0;
}

.footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
  color: #00b5db;
}

.media .site-icon {
  width: 100px;
}

.media .site-icon span {
  color: #00b5db;
}

.site-media {
  background: #fff;
  border-radius: 0px;
}

.site-media.text-center .site-icon {
  margin: 0 auto;
}

.site-overflow-hidden {
  overflow: hidden;
}

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px;
}

.site-owl {
  position: relative;
  z-index: 1;
}

.site-owl .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 10;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-owl .owl-nav .owl-prev,
.site-owl .owl-nav .owl-next {
  position: absolute;
  font-size: 30px;
  background: #00b5db;
  color: #fff;
  padding: 10px;
  line-height: 0;
}

.site-owl .owl-nav .owl-prev {
  left: 0;
}

.site-owl .owl-nav .owl-next {
  right: 0;
}

.site-owl .owl-dots {
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.site-owl .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.site-owl .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 7px;
}

.site-owl .owl-dots .owl-dot.active span {
  background: #00b5db;
}

.site-owl:hover .owl-nav {
  visibility: visible;
  opacity: 1;
}

#map {
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #map {
    height: 300px;
  }
}

#reservationModal .close {
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}

#reservationModal .close:active, #reservationModal .close:focus {
  outline: none !important;
}

#reservationModal .close span {
  font-size: 30px;
}

#reservationModal .close small {
  font-size: 16px;
  position: relative;
  top: -2px;
  right: 10px;
}

#reservationModal .modal-content {
  border-radius: 0;
}

#reservationModal .modal-content label {
  color: #000;
}

#reservationModal .modal-content .modal-body {
  padding: 0;
}

#reservationModal .modal-content .bg-image, #reservationModal .modal-content .site-cover {
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media screen and (max-width: 960px) {
  #reservationModal .modal-content .bg-image, #reservationModal .modal-content .site-cover {
    height: 200px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
  }
}

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.site-counter .site-number {
  display: block;
  font-size: 72px;
  font-weight: bold;
  color: #00b5db;
}

.site-counter .site-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #000000;
}

#site-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#site-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#site-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#site-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#site-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}




form{
  border-radius:30px;
  border: black;
  margin:auto;
  background-color:none;
    z-index: 99;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width: 100%;
	padding:15px 15px;
	border:1px solid #FFF;
	border-radius:30px;
	background-color: transparent;
	margin:8px 0;
	display:inline-block;
    color: #FFF !important;
}


form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
    height:100px;
    padding:15px 15px;
	border:1px solid #FFF;
	border-radius:30px;
	background-color: transparent;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

input[placeholder], [placeholder], *[placeholder] {
  color: #FFF;
}
